# DIKI Large Evaluation

Meta information removed for blind review.

In [1]:
import pandas as pd

#### Read DIKI small

In [2]:
df = pd.read_csv('DIKI_large.csv')

In [3]:
df.head()

     key words
0   prekärster
1   intoleranz
2  "eierlosen"
3       faseln
4   #furchtbar

In [4]:
len(df)

7396

In [5]:
DIKI_large = list(df["key words"])

In [6]:
DIKI_large[:20]

['prekärster',
 'intoleranz',
 '"eierlosen"',
 'faseln',
 '#furchtbar',
 'sed-trulla',
 'dreistesten',
 'gehirn-prothesen',
 'vollpissen',
 'aufgehangen',
 'verabscheuungswürdig',
 'stanken',
 'pussys',
 'zumutung',
 'sklavenähnlichen',
 'damn',
 'schlawacken',
 'unterstützungsverbände',
 'klugscheißer',
 'gegenmüll']

### Evaluation DIKI large

In [7]:
df_test = pd.read_csv('GermEval21_TestData.csv')

In [8]:
df_test.head()

,comment_id,comment_text,Sub1_Toxic,Sub2_Engaging,Sub3_FactClaiming
0,3245,@USER Sie würden wahrscheinlich auch einen Kri...,1,1,0
1,3246,"@USER , ich glaube,Sie verkrnnen gründlich die...",0,1,1
2,3247,@USER: Man kann natürlich immerzu dieselbe Sau...,0,1,1
3,3248,"Als jemand, der im real existierenden Sozialis...",1,0,0
4,3249,Ihr größter Erfolg in ihrem Leben? KLASSENSPRE...,1,0,0

In [9]:
df_test = df_test[["comment_text", "Sub1_Toxic"]]

In [10]:
df_test["Sub1_Toxic"].value_counts()

0    594
1    350
Name: Sub1_Toxic, dtype: int64

#### Functions to display matches

In [11]:
def match_unigrams_isin(X):
    
    match = []
    
    X = str(X)  
    X = str.lower(X)

    for i in DIKI_large:
        if i in X:
            match.append(i)
           # print(i)

    return (match)

In [12]:
df_test["Matches_isin"]=df_test["comment_text"].apply(lambda x: match_unigrams_isin(x))

In [13]:
#Transfer list of matches to one comma separated string of matches

def matches_to_sting(X):
 
    X = ", ".join(X)
    
    return(X)

In [14]:
df_test["matches_string"]=df_test["Matches_isin"].apply(lambda x: matches_to_sting(x))

In [15]:
df_test["matches_count"]=df_test["Matches_isin"].apply(lambda x: len(x))

In [16]:
df_test["matches_count"].value_counts()

0     297
1     176
2     140
3      92
4      63
5      47
6      32
7      32
8      13
11     13
9       7
12      6
10      6
13      4
17      4
14      2
16      2
20      2
24      1
15      1
18      1
19      1
23      1
35      1
Name: matches_count, dtype: int64

In [17]:
df_test.sort_values(by=['matches_count'], ascending=False)

,comment_text,Sub1_Toxic,Matches_isin,matches_string,matches_count
695,Relativ wozu? Zur Klarstellung: ich halte viel...,0,"[ausland, krank, deutschland, kranken, neue, e...","ausland, krank, deutschland, kranken, neue, ei...",35
35,"Liebe Freunde, der Mordversuch an Nawalny ist ...",0,"[mord, deutschland, sau, kam, morde, brechen.,...","mord, deutschland, sau, kam, morde, brechen., ...",24
925,"An alle Berufsempörten, Ich bin Jahrgang 1954 ...",1,"[rennt, kartoffel, ollen, sau, neue, dämlich, ...","rennt, kartoffel, ollen, sau, neue, dämlich, t...",23
275,"Kennt man ja aus Thüringen, Herr Altmaier: Wen...",1,"[ausland, häme, fremdschämen, größenwahn, wahn...","ausland, häme, fremdschämen, größenwahn, wahns...",20
419,@MEDIUM Die Entwicklungen in den USA sind für ...,0,"[deutschland, rassismus, assi, kam, feind, ver...","deutschland, rassismus, assi, kam, feind, vers...",20
...,...,...,...,...,...
687,Ich bin nicht mehr jung und das Gefühl habe ic...,0,[],,0
686,"@USER es wird viel erzählt, wenn der Tag lang ...",1,[],,0
685,@USER Danke.🙏,0,[],,0
366,"@USER das ist richtig, da voraussichtlich jüng...",0,[],,0
943,@USER es gab keine Verstöße dort. Zusammen ohn...,0,[],,0

In [18]:
def f(row):
    if row['matches_count'] > 0:
        val = 1
    elif row['matches_count'] == 0:
        val = 0
    
    return val

In [19]:
df_test['label_dich']  = df_test.apply(f, axis=1)

In [20]:
df_test.label_dich.value_counts()

1    647
0    297
Name: label_dich, dtype: int64

In [21]:
df_test.head()

,comment_text,Sub1_Toxic,Matches_isin,matches_string,matches_count,label_dich
0,@USER Sie würden wahrscheinlich auch einen Kri...,1,[wählen],wählen,1,1
1,"@USER , ich glaube,Sie verkrnnen gründlich die...",0,"[deutschland, letzte]","deutschland, letzte",2,1
2,@USER: Man kann natürlich immerzu dieselbe Sau...,0,"[linken, sau, alte, hund, skandal, esel, parte...","linken, sau, alte, hund, skandal, esel, partei...",11,1
3,"Als jemand, der im real existierenden Sozialis...",1,"[trottel, sozi, sozia]","trottel, sozi, sozia",3,1
4,Ihr größter Erfolg in ihrem Leben? KLASSENSPRE...,1,[],,0,0

#### Quantitative Evaluation

In [22]:
from sklearn.metrics import classification_report

In [23]:
df_test.Sub1_Toxic.value_counts()

0    594
1    350
Name: Sub1_Toxic, dtype: int64

In [24]:
print(classification_report(df_test["Sub1_Toxic"], df_test["label_dich"]))

              precision    recall  f1-score   support

           0       0.74      0.37      0.49       594
           1       0.42      0.78      0.55       350

    accuracy                           0.52       944
   macro avg       0.58      0.58      0.52       944
weighted avg       0.62      0.52      0.51       944

#### Qualitative Error Analysis

In [25]:
#False Positives
df_fp = df_test[["comment_text","matches_string"]][df_test["Sub1_Toxic"] < df_test["label_dich"]]

In [26]:
df_fp

,comment_text,matches_string
1,"@USER , ich glaube,Sie verkrnnen gründlich die...","deutschland, letzte"
2,@USER: Man kann natürlich immerzu dieselbe Sau...,"linken, sau, alte, hund, skandal, esel, partei..."
6,"@MEDIUM ...stimmt so nicht ganz: bespiel ""klei...","alte, alter"
8,Warum man diesen Typen einlädt wird sich mir n...,"subjekt, deutschland, rassismus, assi, möchteg..."
9,@USER Merkel tritt nicht mehr an. Und mit Sars...,deutschland
...,...,...
928,"Jetzt mal im ernst, es gibt z.Z. im Kabinett M...","unsympathisch, unsympathischer, sympathisch, u..."
932,Ohne Maßnahmen hätte Corona vielen das Leben g...,nahm
936,"@USER nun ja, die Nazis hatten sie nicht einge...","nazi, nazis"
937,"@USER ""verdammt noch mal auch dran hält,"" Das ...",verdammt
941,😂,😂

In [27]:
df_fp.to_csv("DIKIlarge_FalsePositives.csv", index=None, encoding="utf-8")

In [28]:
#False Negatives
df_fn = df_test[["comment_text"]][df_test["Sub1_Toxic"] > df_test["label_dich"]]

In [29]:
df_fn

                                          comment_text
4    Ihr größter Erfolg in ihrem Leben? KLASSENSPRE...
13   Großen Respekt wie Herr Hallervorden mit der S...
38          @USER und sie brauchen ärztliche Betreuung
40   @MEDIUM Warum denn mit fiebern? "Die Amerikane...
114  Oh....die Frau hat eine Glaskugel ? Ist ja int...
..                                                 ...
890  @USER m und wir profitieren noch mehr von der ...
898      @USER sehr gut👍 , aber das will keiner hören.
911                          @USER Sie sind Hellseher?
919  Jo, Kleber und Slomka wissen viel besser, was ...
938  Frau Reemtsma braucht kein Auto. Sie hat vermu...

[77 rows x 1 columns]

In [30]:
df_fn.to_csv("DIKIlarge_FalseNegatives.csv", index=None, encoding="utf-8")

##